<!--Template used for TerriaJS to display information about a flooded building-->
<table class="cesium-infoBox-defaultTable">
  <tbody>
  <tr>
    <td style="vertical-align: middle;"><b>Water Depth (m)</b></td>
    <td>{{Water_Depth__m_}}</td>
  </tr>
  </tbody>
</table>
